// Neat Grid Resets - Thanks Josh Fry! http://joshfry.me/blog/2013/05/13/omega-reset-for-bourbon-neat/

@mixin omega-reset($nth) {
  &:nth-child(#{$nth}) { margin-right: flex-gutter($grid-columns, $gutter); }
  &:nth-child(#{$nth}+1) { clear: none }
}

// Bourbon & Neat
@import '../../bower_components/bourbon/dist/bourbon';
@import '../../bower_components/neat/app/assets/stylesheets/neat';

// Partials
@import 'colors';

// Variables
$cRadius: 1px;
$raleway: 'Raleway', sans-serif;

// Mixins
@mixin border-radius {
  -webkit-border-radius: $cRadius;
  -moz-border-radius: $cRadius;
  -ms-border-radius: $cRadius;
  border-radius: $cRadius;
}

$column: golden-ratio(1em, 3) !default; // Column width
$gutter: golden-ratio(1em, 1) !default; // Gutter between each two columns
$fg-column: $column;
$fg-gutter: $gutter;


// Set Standards

body {
  margin:0;
  padding:0;
  font-size: 62.5%;
  font-weight: 200;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: $lgrey;
  background-color: $white;
}

img {
  width: 100%;
  display: block;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 4em;
}

h3 {
  font-size: 3em;
}

h5 {
  font-size: 1.2em;
  font-family: $raleway;
  font-weight: 200;
  letter-spacing: 1px;
  text-transform: uppercase;
}

ul, li {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: $lgrey;

  &:hover {
    color: $yellow;
  }
}

.fakeDiv {
  @include span-columns(12);
}

// Loader

#loaderDiv {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1100;
  background-color: $yellow;
  opacity: .6;
}

.ajax-loader {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -19px; /* -1 * image width / 2 */
  margin-top: -19px; /* -1 * image height / 2 */
  display: block;
  width: 38px;
}

.sprite-spinner {
  overflow: hidden;
  position: relative;
  display:inline-block;
  text-align:left;
}

// Forms

input {
  @include span-columns(12);
  height: 50px;
  padding-left: 20px;
  border: none;
  border-radius: none;
  margin-bottom: 8px;
}

textarea {
  @include span-columns(12);
  max-width: 100%;
  padding: 20px;
  border: none;
  border-radius: none;
  margin-bottom: 8px;
}

button {
  @include span-columns(12);
  @include border-radius;
  background-color: $yellow;
  color: $white;
  border: none;
  height: 60px;
  margin-bottom: 8px;
  letter-spacing: 1px;

  &:hover {
    background-color: $gold;
  }
}

// Custom Styles

#wrapper {
  width: 100%;
  font-size: 1.6em;
  line-height: 1.6em;
}

.container {
  @include outer-container;
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 20px;
  color: $lgrey;
  overflow: auto;
}

.main {
  margin-top: 200px;
}

.reducedMain {
  margin-top: 80px;
}

// Navigation

nav {
  width: 100%;
  position: fixed;
  top: 0;
  background-color: $dgrey;
  padding: 16px 0;
  margin-bottom: 60px;
  z-index: 9999;

  .container {
    background-color: $dgrey;
  }

  #logo {
    @include span-columns(12);

    div {
      height: 50px;
      width: 50px;
      padding-top: 12px;
      margin: 0 auto;
      text-align: center;
      color: white;
      font-family: $raleway;
      font-size: 2.7em;
      font-weight: 200;
      letter-spacing: 4px;
    }
  }

  .textlinks {
    @include span-columns(12);
    margin: 16px 0 10px 0;
  }

  .textlinks a {
    @include span-columns(4 of 12);
    @include border-radius;
    color: $yellow;
    border: 1px solid $yellow;
    text-align: center;
    padding: 3px 0;
    font-family: $raleway;
    font-size: .9em;
    font-weight: 200;
    letter-spacing: 1px;
    text-transform: uppercase;

    &:hover {
      color: $gold;
      border: 1px solid $gold;
    }
  }

  .fakeButton {
    @include border-radius;
    @include span-columns(12);
    position: relative;
    overflow: hidden;
    background-color: $yellow;
    height: 60px;

    #imageFile {
      opacity: 0;
      height: 60px;
      z-index: 2;
      position: absolute;
      cursor: pointer;
    }

    span {
      color: white;
      position: absolute;
      text-align: center;
      width: 100%;
      top: 16px;
      left: 0;
      right: 0;
      z-index: 1;
    }

    &:hover {
      background-color: $gold;
    }
  }
}

.reducedNav {

  #logo {
    @include span-columns(6);

    div {
      float: left;
      margin: 0;
      height: 50px;
    }
  }

  .textlinks {
    display: none;
  }

  .fakeButton {
    @include span-columns(6);
    height: 50px;

    #imageFile {
      height: 50px;
    }

    span {
      top: 12px;
    }
  }
}

// Login

.loginImage {
  width: 160px;
  height: 160px;
  display: block;
  margin: 40px auto 20px auto;
  overflow: hidden;
  border-radius: 50%;
  border: 4px solid $yellow;
}

.loginText {
  text-align: center;

  a {
    font-size: .7em;
  }
}

.loginEdit {
  margin-top: 40px;
}

.imageInput {
  padding: 0;
  margin: 0
}

#loginForm {

  #loginButton {
    background-color: $green;
  }

  #registerButton {
    margin-bottom: 50px;
  }

  #logoutButton {
    background-color: $red;
    margin-bottom: 50px;
  }
}

// Posts
.csscolumns {

  .grid {
    -moz-column-count: 4;
    -webkit-column-count: 4;
    column-count: 4;
    -moz-column-gap: 1.3em;
    -webkit-column-gap: 1.3em;
    column-gap: 1.3em;
    margin: 40px 0;
    width: auto;
  }

  .postThumb {
    width: 100%;
    margin: 0;
    margin-bottom: 20px;
    background-color: white;
    break-inside: avoid-column;
    -webkit-column-break-inside: avoid;
  }
}

.grid {
  margin: 40px 0;
  @include span-columns(12);
}

.postThumb {
  @include span-columns(12);
  margin-bottom: 20px;
  background-color: white;

  .info {
    width: 100%;
    padding: 7px 7px 0 7px;
    overflow: auto;
  }

  .userImage {
    width: 46px;
    height: 46px;
    margin-right: 7px;
    margin-bottom: 7px;
    overflow: hidden;
    float: left;
  }

  .catchDate {
    text-align: center;
    font-size: 0.8em;

    p {
      margin: 0;
      padding: 0;
      padding-bottom: 7px;
    }
  }

  .userName {
    float: left;
    clear: right;

    p, a {
      margin: 0;
      padding: 0
    }

    p {
      font-size: 0.8em;
    }
  }

  .seeMore {
    clear: both;
    width: 100%;
    border-top: 1px solid $white;
    text-align: center;

    a {
      display: inline-block;
      margin: 0;
      padding: 10px 0;
    }

    p {
      text-align: left;
      margin: 0;
      padding: 10px 0;
      border-bottom: 1px solid $white;
    }
  }

  p {
    margin-top: 0;
  }
}

h5.draftsHeader {
  display: block;
  clear: both;
  width: 100%;
  text-align: center;
  padding-bottom: 12px;
  border-bottom: 1px solid $bggrey;
}

// Draft View
.draftImage {
  margin-top: 24px;
  margin-bottom: 8px;
}

#imageForm {

  input {
    margin-bottom: 8px;
  }

  .saveDraft {
    background-color: $green;
  }

  .publishPost {
  }
}

// Mapbox Styles

#map {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $dgrey;

  .leaflet-top .leaflet-control {
    margin-top: 220px;
    margin-left: 20px;
  }
}

.fullMap {
  z-index: -1;

  .leaflet-left {
    left: 0;
  }
  .leaflet-top {
    bottom: 20px;
    top: auto;
  }

}

// Map Search

.riverSearch {
  @include span-columns(12);
  margin-top: 24px;

  input {
    @include span-columns(12);
    border-bottom: 3px solid $white;
    text-align: center;
    padding: 0;
  }

  ul {
    @include span-columns(12);
    margin-top: 0;
  }

  li {
    @include span-columns(12);
    background-color: white;
    color: $lgrey;
    width: 100%;
    text-align: center;
    border-top: 1px solid $white;
    padding: 10px 0;
  }

}

// River Profile

.riverMap {
  @include span-columns(12);
  height: 300px;
  position: relative;
}

.riverTitle {
  @include span-columns(12);
  text-align: center;
}

// Filters

.riverfilters {
  @include span-columns(12);
  background-color: $bggrey;
  color: $lgrey;
  padding: 20px 0;

  .container {
    overflow: visible;
  }

  .filterContainer {
    @include span-columns(12 of 12);

    /* button {
      width: 100%;
      margin-right: 0;
    } */
  }

  .searchContainer {
    @include span-columns(12 of 12);
    margin-top: 10px;

    button {
      background-color: $green;
    }

    .closeButton {
      background-color: $red;
    }
  }

  .riverList {
    overflow: visible;

    .closeButton {
      float: none;
      width: 100%;
    }
  }

  .closeButton {
    background-color: $red;
    color: $white;
    width: auto;
    height: auto;
    padding: 0px 10px 3px 10px;
    float: right;
    margin: 0;
  }

  .filterTitle {
    @include span-columns(12 of 12);
    clear: both;
    border-top: none;
    text-align: center;
    margin-bottom: 12px;
    margin-top: 12px;
    padding: 0;
  }

  h5 {
    @include span-columns(12 of 12);
    @include omega();
    color: $lgrey;
  }

  input {
    @include span-columns(1 of 12);
    height: 30px;
    display: inline-block;
    text-align: center;
  }

  .tempFilter, .waterFilter, .levelFilter, .flowFilter {
    @include span-columns(10 of 12);
    padding-left: 16px;
    padding-top: 10px;
    color: $lgrey;

    p {
      @include span-columns(6 of 12);
      text-align: center;

      span {
        display: block;
        width: 100%;
        color: $mgrey;
        font-weight: normal;
      }
    }
  }

  .riverNameFilter {
    margin-top: 0;
    padding-left: 0;
    position: relative;

    #searchResults {
      position: absolute;
      top: 50px;
      z-index: 99;
    }

    input {
      width: inherit;
      height: 50px;
      color: $lgrey;
    }
  }

  .tempSlider, .waterSlider, .levelSlider, .flowSlider {
    @include span-columns(12 of 12);
  }

  .container {
    color: white;
  }
}

// NoUI slider styles

.noUi-connect {
  background: $green;
  box-shadow: none;
}

.noUi-target {
  @include border-radius;
  border: 1px solid $white;
  box-shadow: none;
}

.noUi-background {
  background: white;
  box-shadow: none;
}

.noUi-horizontal {
  height: 12px;
}

.noUi-horizontal .noUi-handle {
  width: 30px;
  height: 18px;
  left: -17px;
  top: -4px;
}

.noUi-handle:after, .noUi-handle:before {
  display: block;
  position: absolute;
  height: 8px;
  width: 1px;
  background: #E8E7E6;
  left: 14px;
  top: 4px;
}
.noUi-handle:after {
  left: 17px;
}
.noUi-handle-upper {
  content: "<";
}

// Media Queries

@media (min-width: 400px){

  #logoutButton {
    width: 300px;
    margin: 0 auto;
    float: none;
  }

  .postThumb {
    @include span-columns(6);
    @include omega-reset(1n);
    @include omega(2n);
  }

  .main {
    margin-top: 120px;
  }

  .reducedMain {
    margin-top: 70px;
  }

  nav {

    #logo {
      @include span-columns(3);

      div {
        margin: 24px auto;
        float: left;
      }
    }

    .textlinks {
      @include span-columns(9);
      @include omega();
      margin-top: 0;
      margin-bottom: 10px;
    }

    .textlinks a {
      @include span-columns(3 of 9);
    }

    .fakeButton {
      @include span-columns(9);
      @include omega();
    }
  }

}

@media (min-width: 600px){

  .postThumb {
    @include span-columns(4);
    @include omega-reset(2n);
    @include omega(3n);
  }

  .main {
    margin-top: 70px;
  }

  .reducedMain {
    margin-top: 70px;
  }

  nav {

    #logo {
      width: 100px;
      margin: 0;

      div {
        float: left;
        margin: 0;
      }
    }

    .textlinks {
      width: 300px;
      margin: 7px 14px 0 0;
    }

    .textlinks a {
      width: 90px;
      padding: 3px 0;
      margin-right: 12px;
    }

    .fakeButton {
      width: 140px;
      float: right;
      height: 50px;

      #imageFile {
        height: 50px;
      }

      span {
        top: 12px;
      }
    }
  }

  .reducedNav {

    #logo {
      width: 100px;
      margin: 0;
    }

    .textlinks {
      display: block;
    }

    .fakeButton {
      width: 140px;
      float: right;
      letter-spacing: 1px;

      #imageFile {
        height: 50px;
      }
    }
  }

  // Filters
  .riverfilters {

    .filterContainer {
      @include span-columns(6 of 12);
      @include omega(2n);
    }

    .searchContainer {
      @include span-columns(6 of 12);
      @include shift(3);
    }
  }
}

@media (min-width: 800px){

  .postThumb {
    @include span-columns(3);
    @include omega-reset(3n);
    @include omega(4n);
  }

  .riverMap {
    @include span-columns(8);
    @include omega();
  }

  .profileMap {
    @include span-columns(12);
    margin-top: 20px;
  }

  .riverTitle {
    @include span-columns(4);
    text-align: left;
  }
}

