 // Bourbon & Neat
@import '../../bower_components/bourbon/dist/bourbon';
@import '../../bower_components/neat/app/assets/stylesheets/neat';

// Partials
@import 'colors';

// Variables
$cRadius: 1px;

// Mixins
@mixin border-radius {
  -webkit-border-radius: $cRadius;
  -moz-border-radius: $cRadius;
  -ms-border-radius: $cRadius;
  border-radius: $cRadius;
}

// Neat Grid Resets - Thanks Josh Fry! http://joshfry.me/blog/2013/05/13/omega-reset-for-bourbon-neat/

@mixin omega-reset($nth) {
  &:nth-child(#{$nth}) { margin-right: flex-gutter($grid-columns, $gutter); }
  &:nth-child(#{$nth}+1) { clear: none }
}

$column: golden-ratio(1em, 3) !default; // Column width
$gutter: golden-ratio(1em, 1) !default; // Gutter between each two columns
$fg-column: $column;
$fg-gutter: $gutter;


// Set Standards

body {
  margin:0;
  padding:0;
  font-size: 62.5%;
  font-weight: 200;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: $lgrey;
  background-color: $white;
}

img {
  width: 100%;
  display: block;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 4em;
}

h3 {
  font-size: 3em;
}

h5 {
  font-size: 2em;
}

ul, li {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: $lgrey;

  &:hover {
    color: $yellow;
  }
}

// Loader

#loaderDiv {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1100;
  background-color: $yellow;
  opacity: .6;
}

.ajax-loader {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -19px; /* -1 * image width / 2 */
  margin-top: -19px; /* -1 * image height / 2 */
  display: block;
  width: 38px;
}

.sprite-spinner {
  overflow: hidden;
  position: relative;
  display:inline-block;
  text-align:left;
}

// Forms

input {
  @include span-columns(12);
  height: 50px;
  padding-left: 20px;
  border: none;
  border-radius: none;
  margin-bottom: 8px;
}

textarea {
  @include span-columns(12);
  max-width: 100%;
  padding: 20px;
  border: none;
  border-radius: none;
  margin-bottom: 8px;
}

button {
  @include span-columns(12);
  @include border-radius;
  background-color: $yellow;
  color: $white;
  border: none;
  height: 60px;
  margin-bottom: 8px;
}

// Custom Styles

#wrapper {
  width: 100%;
  font-size: 1.6em;
  line-height: 1.6em;
}

.container {
  @include outer-container;
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 20px;
  color: $lgrey;
  overflow: auto;
}

.main {
  margin-top: 200px;
}

// Navigation

nav {
  width: 100%;
  position: fixed;
  top: 0;
  background-color: $dgrey;
  padding: 16px 0;
  margin-bottom: 60px;
  z-index: 9999;

  .container {
    background-color: $dgrey;
  }

  #logo {
    @include span-columns(12);

    div {
      height: 50px;
      width: 50px;
      border: 1px solid white;
      border-radius: 50%;
      margin: 0 auto;
    }
  }

  .textlinks {
    @include span-columns(12);
    margin: 16px 0 10px 0;
  }

  .textlinks a {
    @include span-columns(4 of 12);
    @include border-radius;
    color: $yellow;
    border: 1px solid $yellow;
    text-align: center;
    padding: 3px 0;
    text-transform: uppercase;
  }

  .fakeButton {
    @include border-radius;
    @include span-columns(12);
    position: relative;
    overflow: auto;
    background-color: $yellow;
    height: 60px;

    #imageFile {
      opacity: 0;
      height: 60px;
      z-index: 2;
      position: absolute;
    }

    span {
      color: white;
      position: absolute;
      text-align: center;
      width: 100%;
      top: 16px;
      left: 0;
      right: 0;
      z-index: 1;
    }
  }
}

// Login

.loginImage {
  width: 160px;
  height: 160px;
  display: block;
  margin: 40px auto 0 auto;
  overflow: hidden;
  border-radius: 50%;
  border: 4px solid $yellow;
}

.loginText {
  text-align: center;
}

.imageInput {
  padding: 0;
  margin: 0
}

#loginForm {

  #loginButton {
    background-color: $green;
  }

  #registerButton {
    margin-bottom: 50px;
  }

  #logoutButton {
    background-color: $red;
    margin-bottom: 50px;
  }
}

// Posts

.grid {
  margin: 40px 0;
  @include span-columns(12);
}

.postThumb {
  @include span-columns(12);
  margin-bottom: 20px;
  background-color: white;

  .info {
    width: 100%;
    padding: 7px 7px 0 7px;
    overflow: auto;
  }

  .userImage {
    width: 46px;
    height: 46px;
    margin-right: 7px;
    margin-bottom: 7px;
    overflow: hidden;
    float: left;
  }

  .userName {
    float: left;
    clear: right;

    p, a {
      margin: 0;
      padding: 0
    }

    p {
      font-size: 0.8em;
    }
  }

  .seeMore {
    clear: both;
    width: 100%;
    border-top: 1px solid $white;
    text-align: center;

    a {
      display: inline-block;
      margin: 0;
      padding: 10px 0;
    }

    p {
      text-align: left;
      margin: 0;
      padding: 10px 0;
      border-bottom: 1px solid $white;
    }
  }

  p {
    margin-top: 0;
  }
}

// Draft View
.draftImage {
}

#imageForm {

  input {
    margin-bottom: 8px;
  }

  .saveDraft {
    background-color: $green;
  }

  .publishPost {
  }
}

// Mapbox Styles

#map {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $dgrey;
  z-index: -1;

  .leaflet-top .leaflet-control {
    margin-top: 220px;
    margin-left: 20px;
  }
}

// Map Search

.riverSearch {
  @include span-columns(12);
  padding-top: 22px;
  padding-left: 40px;

  input {
    @include span-columns(12);
    border-bottom: 3px solid $white;
    text-align: center;
    padding: 0;
  }

  ul {
    @include span-columns(12);
    margin-top: 0;
  }

  li {
    @include span-columns(12);
    background-color: white;
    color: $lgrey;
    width: 100%;
    text-align: center;
    border-top: 1px solid $white;
    padding: 10px 0;
  }

}

// River Profile

.riverMap {
  @include span-columns(12);
  height: 300px;
  position: relative;
}

.riverTitle {
  @include span-columns(12);
}

.riverConditions {
  @include span-columns(12);
}

.riverfilters {
  @include span-columns(12);
  background-color: $yellow;

  .container {
    color: white;
  }
}

// Media Queries

@media (min-width: 400px){

  .postThumb {
    @include span-columns(6);
    @include omega-reset(1n);
    @include omega(2n);
  }

}

@media (min-width: 600px){

  .postThumb {
    @include span-columns(4);
    @include omega-reset(2n);
    @include omega(3n);
  }

}

@media (min-width: 800px){

  .postThumb {
    @include span-columns(3);
    @include omega-reset(3n);
    @include omega(4n);
  }

  .riverMap {
    @include span-columns(4);
  }

  .riverTitle {
    @include span-columns(4);
  }

  .riverConditions {
    @include span-columns(4);
    @include omega();
  }

}

