<div class="container">
	<div class="riverTitle">
		<h5>{{ riverProps.title }}</h5>
		<p>{{ riverProps.description }}</p>
	</div>
	<div class="riverMap">
		<div id='map'></div>
	</div>
	<div class="riverConditions">
		<h5>Current Conditions</h5>
		<p ng-if="currentTemp">Temperature: {{ currentTemp }}&deg;F</p>
		<p ng-if="waterFlow">Water Flow: {{ waterFlow }} cubic feet per second</p>
		<p ng-if="waterLevel">Water Level: {{ waterLevel }} feet</p>
		<p ng-if="waterTemp">Water Level: {{ waterTemp }}&deg;C</p>
	</div>
</div>
<!-- Filters -->
<div class="riverfilters">
	<div class="container">
		<h5>Filter Recent Catches</h5>
		<!-- 	air temp filter  -->
		<input type="checkbox" ng-click="tempSwitch = !tempSwitch">
		<div class="tempFilter">
			<h5>Temperature</h5>
			<div id="tempSlider"></div>
			<p>Min. Temp: <span id="tempSlider_low"></span></p>
			<p>Max Temp: <span id="tempSlider_high"></span></p>
		</div>
		<!-- water level filter -->
		<input type="checkbox" ng-click="levelSwitch = !levelSwitch">
		<div class="levelFilter">
			<h5>Water Level</h5>
			<div id="levelSlider"></div>
			<p>Min. Water Level: <span id="levelSlider_low"></span></p>
			<p>Max Water Level: <span id="levelSlider_high"></span></p>
		</div>
	</div>
</div>
<!-- Catches -->
<div class="container riverCatches">
	<ul class="grid">
		<li class="postThumb" ng-repeat="fish in riverCatches | filter:tempFilter | filter:levelFilter">
			<img src="{{ fish.picURL }}" alt="">
			<div class="info">
				<div class="userImage">
					<a href="#/user/{{ fish.user.objectId }}">
						<img src="{{ fish.user.avatar }}" alt="">
					</a>
				</div>
				<div class="seeMore">
					<a href="#/user/{{ fish.user.objectId }}">{{fish.user.name}}</a>
					<a href="" ng-click="fish.toggle = !fish.toggle">
						More Info
						<span ng-hide="fish.toggle">-></span>
						<span ng-show="fish.toggle">V</span>
					</a>
					<p ng-show="fish.toggle">Fly Used: {{ fish.fly }}</p>
					<p ng-show="fish.toggle" ng-if="fish.weather.main.temp">Temp: {{ fish.weather.main.temp }}</p>
					<p ng-show="fish.toggle">Notes: {{ fish.notes }}</p>
				</div>
			</div>
		</li>
	</ul>
</div>