<div class="container">
	<div class="riverTitle">
		<h5>{{ riverProps.title }}</h5>
		<p>{{ riverProps.description }}</p>
	</div>
	<div class="riverMap">
		<div id='map'></div>
	</div>
	<div class="riverConditions">
		<h5>Current Conditions</h5>
		<p ng-if="currentTemp">Temperature: {{ currentTemp }}&deg;F</p>
		<p ng-if="waterFlow">Water Flow: {{ waterFlow }} cubic feet per second</p>
		<p ng-if="waterLevel">Water Level: {{ waterLevel }} feet</p>
		<p ng-if="waterTemp">Water Level: {{ waterTemp }}&deg;C</p>
	</div>
</div>
<!-- Filters -->
<div class="riverfilters">
	<div class="container">
		<h5>Filter Recent Catches</h5>
		<div class="tempFilter">
			<h5>Temperature</h5>
			<div id="tempSlider"></div>
			<p>Min. Temp: <span id="tempSlider_low"></span></p>
			<p>Max Temp: <span id="tempSlider_high"></span></p>
		</div>
	</div>
</div>
<!-- Catches -->
<div class="container">
	<ul class="grid">
		<li class="postThumb" ng-repeat="fish in riverCatches | filter:tempFilter">
			<img src="{{ fish.picURL }}" alt="">
			<div class="info">
				<p>Fly Used: {{ fish.fly }}</p>
				<p>Temp: {{ fish.weather.main.temp }}</p>
				<p>Notes: {{ fish.notes }}</p>
				<img src="{{ fish.user.avatar }}" alt="">
			</div>
		</li>
	</ul>
</div>