<div class="container">
	<div class="loginImage">
		<img src="{{user.avatar}}" alt="">
	</div>
	<p class="loginText">Logged in as {{user.name}}</p>
	<form id="loginForm">
		<input type="text" placeholder="Full Name" ng-model="user.name">
		<input type="text" placeholder="Email" ng-model="user.username">
		<input type="password" placeholder="Password" ng-model="user.password">
		<p>Choose an avatar image:</p>
		<input class="imageInput" id="avatarUpload" type="file" accept="image/*">
		<button id="loginButton" ng-click="loginUser(user)">Login</button>
		<button id="registerButton" ng-click="registerUser(user)">Register</button>
		<button id="logoutButton" ng-click="logout()">Logout</button>
	</form>
</div>